<h1>Tenant Details</h1>

<h3>Name: <%= @tenant.name %></h3>
<h2>Phone Number: <%= @tenant.phone_number%></h2>
<h2>Email: <%=@tenant.email%> </h2>
<h2>SOS Name: <%=@tenant.sos_name %></h2>
<h2>Property: <%=@tenant.property.address %></h2>
