<h1>Property Details </h1>
<h3>Address: <%= @property.address %></h3>
<h3>Single Rooms: <%=@property.single_rooms %></h3>
<h3>Double Rooms: <%=@property.double_rooms %></h3>
<h3>Bathrooms: <%=@property.bathrooms %></h3>
<h3>Tenants: <%@property.tenants.each do |t| %> <%= t.name %></br> <% end %></h3>
