<h1>You are creating a new rating for <%=@rating.tenant.name %> at <%=@rating.tenant.property.address %></h1>
<% if @rating.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @rating.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
        <% end %>
    </ul>
</div>
<% end %>
<%=form_for @rating do |f| %>
<%=f.label "Tenant" %>
<%=f.hidden_field :tenant_id%>
<%=f.label "Property" %>
<%=f.hidden_field :property_id, value: @rating.tenant.property.id  %>
<%=f.label "Rating" %>
<%=f.number_field :rating %>
<%=f.label "Comment" %>
<%=f.text_field :comment %>
<%=f.submit "Create Rating" %>
<% end %>
